<h1><%= @user.name %></h1>
<small><%= @user.email %></small>
<br><br>
<% @user.items.each do |item| %>
  <%= render partial: 'items/item', collection: @items %>
<% end %>

<%= render partial: 'items/form', locals: {user: @user} %>