<div class="row">
  <div class="col-md-1">
      <%= link_to "", [user,item], method: :delete, class: 'glyphicon glyphicon-ok' %>
    </div>
  <div class="col-md-3">
    <h5><%= item.name %></h5>
  </div>
  <div class="col-md-3">
    <small>Due on <%= item.due_date %></small>
  </div>
  <div class="col-md-6">
    <%= item.description %>
  </div>
</div>